/* Reset CSS */
* {
    min-width: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/* --- */

/* Header + nav */
.header,
.nav {
    display: flex;
    align-items: center;
    background: #90c9ff;
}

.header {
    justify-content: center;
    padding: 20px 0px;
}

.nav {
    justify-content: space-between;
    width: 65vw;
}

a {
    color: black;
    text-decoration: none;
    transition: all .15s linear;
}

a:hover {
    transition: all .15s linear;
}

.nav>a {
    font-weight: 500;
    font-size: 16px;
}

.nav>a:hover {
    color: white;
}

/* Text */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px;
}


.home-text, .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Form */
.form {
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    width: 350px;
    padding: 20px;
}


.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    transition: all .15s linear;
}

.formBtn {
    flex-grow: 1;
    text-align: center;
    padding: 7px;
    margin: 3px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    background-color: #5b677d;
    cursor: pointer;
    transition: all .15s linear;
}

.formBtn:hover {
    background-color: #5AB6FF;
    transition: all .15s linear;
}