@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Reset CSS */
* {
    min-width: 0;
    font: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
html {
    font-family: "Source Sans 3", sans-serif;
}

body {
    margin: 0;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
    margin: 5px 0px;
}

/* --- */

body {
    display: flex;
}

h1,
h2 {
    font-size: 40px;
    font-weight: 700;
    color: #30333F;
    margin: 1rem 0rem;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
    transition: all .15s linear;

    &:hover {
        transition: all .15s linear;
    }
}

/* sideBar + nav */
.sideBar,
.nav {
    display: flex;
    flex-direction: column;
    background: #90c9ff;
}

.sideBar {
    align-items: center;
    width: 300px;
    padding: 7.5rem 0rem 10rem;
}

.nav {
    width: 100%;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0px;

    &:hover {
        background-color: #0b498338;
        color: white;
    }
}

.menuItem[aria-current="page"] {
    background-color: #0b4983;
    color: white;
}

/* main */
.main,
.mainContent,
.form {
    display: flex;
    flex-direction: column;
}

.main {
    align-items: center;
    flex-grow: 1.5;
    min-height: 100vh;
}

.mainContent {
    width: 100%;
    max-width: 46rem;
    padding: 6rem 2rem 10rem;
}

.update {
    margin-top: 1.5rem;
}

.delete {
    margin: 2.5rem 0rem 0rem 0rem;
}

/* Home */
li {
    list-style: none;
}

.endpoint-table,
.params-table,
.metrics-table {
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.endpoint-table td {
    padding: 10px;
    border: 1px solid #ddd;
    overflow-wrap: break-word;
}

.endpoint-table tr:hover {
    background-color: #e4e9ee7a;
}

.params-table, .metrics-table {
    max-width: 400px;
    margin: 1rem 0px; 
}

.params-table td,
.metrics-table td {
    padding: 5px;
    border: 1px solid #ddd;
    overflow-wrap: break-word;
}

.params-table td[class='result']:hover {
    background-color: #e4e9ee7a;
}

.endpoint {
    width: 40%;
    font-family: "Source Code Pro", monospace;
    color: #0b4983;
    font-weight: 600;
}

.param, .metric {
    color: #0b4983;
    font-weight: 600;
  
}

.result {
    width: 20%;
}



.prediction {
    color: #74b9f9;
}

/* Form */
.form {
    gap: 5px;
    width: 100%;
    margin-top: 20px;
}

.form input {
    margin-bottom: 1rem;
    padding: 5px;
    border: 1.5px solid transparent;
    border-radius: .5rem;
    background-color: #e4e9ee7a;

    &:focus {
        outline: none;
        border: 1.5px solid #74b9f9;
    }
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
    transition: all .15s linear;
}

.formBtn {
    width: 150px;
    text-align: center;
    padding: 7px;
    margin: 3px;
    border: 1.25px solid #c9cfd4;
    border-radius: .5rem;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: all .15s linear;

    &:hover {
        border-color: #74b9f9;
        color: #74b9f9;
        transition: all .15s linear;
    }
}


/* Responsive */
@media (max-width: 700px) {
    body {
        flex-direction: column;
    }

    .sideBar {
        width: 100%;
        padding: 0px;
    }

    .nav {
        flex-direction: row;
    }

    .menuItem {
        padding: 12px 0px;
        font-size: 15px;
    }

}