<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../../static/cloud-rain.svg"
    />
    <link rel="stylesheet" href="../../../static/style.css" />
    <title>Rainfall Prediction App</title>
  </head>
  <body>
    <aside class="sideBar">
      <nav class="nav">
        <a href="/" class="menuItem">Home</a>
        <a href="/api/v1/predict_form" class="menuItem" aria-current="page"
          >Predict</a
        >
        <a href="/api/v1/update_data" class="menuItem">Update Data</a>
        <a href="/api/v1/retrain" class="menuItem">Retrain</a>
      </nav>
    </aside>
    <main class="main">
      <section class="mainContent">
        <h1>Rainfall Prediction Application</h1>

        {% if result %}
        <h3>Entered parameters:</h3>
        <table class="params-table">
          <tr>
            <td class="param">Cloud (oktas)</td>
            <td class="result">{{ result.cloud }}</td>
          </tr>
          <tr>
            <td class="param">Sunshine (hrs)</td>
            <td class="result">{{ result.sun }}</td>
          </tr>
          <tr>
            <td class="param">Global Radiation (W/m<sup>2</sup>)</td>
            <td class="result">{{ result.radiation }}</td>
          </tr>
          <tr>
            <td class="param">Min Temperature (ºC)</td>
            <td class="result">{{ result.min_temp }}</td>
          </tr>
          <tr>
            <td class="param">Mean Temperature (ºC)</td>
            <td class="result">{{ result.mean_temp }}</td>
          </tr>
          <tr>
            <td class="param">Max Temperature (ºC)</td>
            <td class="result">{{ result.max_temp }}</td>
          </tr>
          <tr>
            <td class="param">Pressure (Pa)</td>
            <td class="result">{{ result.pressure }}</td>
          </tr>
        </table>

        <h3>
          Rainfall prediction:
          <span class="prediction">{{ result.prediction }} mm</span>
        </h3>

        {% elif error %}
        <p>{{ error }}</p>

        {% else %}
        <p>
          No predictions made yet, fill the form or pass values for the
          parameters as queries!
        </p>
        {% endif %}
      </section>
    </main>
  </body>
</html>
