<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../../static/cloud-rain.svg"
    />
    <link rel="stylesheet" href="../../../static/style.css" />
    <title>Rainfall Prediction App</title>
  </head>

  <body>
    <aside class="sideBar">
      <nav class="nav">
        <a href="/" class="menuItem">Home</a>
        <a href="/api/v1/predict_form" class="menuItem">Predict</a>
        <a href="/api/v1/update_data" class="menuItem">Update Data</a>
        <a href="/api/v1/retrain" class="menuItem" aria-current="page"
          >Retrain</a
        >
      </nav>
    </aside>
    <main class="main">
      <section class="mainContent">
        <h1>Rainfall Prediction Application</h1>
        <h2>Retrain the model</h2>
        <h3>Original Metrics</h3>

        <table class="metrics-table">
          <tr>
            <td class="metric">Model</td>
            <td class="metric-result">{{ original_metrics.Model[0] }}</td>
          </tr>
          <tr>
            <td class="metric">MSE</td>
            <td class="metric-result">{{ original_metrics.MSE[0] }}</td>
          </tr>
          <tr>
            <td class="metric">RMSE</td>
            <td class="metric-result">{{ original_metrics.RMSE[0] }}</td>
          </tr>
          <tr>
            <td class="metric">MAPE</td>
            <td class="metric-result">{{ original_metrics.MAPE[0] }}</td>
          </tr>
        </table>

        {% if data_op %}
        <p>
          Select the dataset you would like to retrain the model with. If you
          select more than one, the model will be trained with the first
          selected dataset from the list.
        </p>
        <p></p>
        <form
          class="form"
          id="retrainForm"
          action="/api/v1/retrain"
          method="post"
        >
          <div>
            <input type="checkbox" name="dataset_name" value="default" />
            <label for="dataset_name">Default data</label>
          </div>
          {% for file in data_op %}
          <div>
            <input type="checkbox" name="dataset_name" value="{{file}}" />
            <label for="dataset_name">{{file}}</label>
          </div>
          {% endfor %}
          <div class="actions">
            <button class="formBtn" type="submit">Retrain</button>
            <button class="formBtn" type="reset">Reset</button>
          </div>
        </form>
        {% else %}
        <p>New model retrained with default data</p>
        {% endif %} {% if new_metrics %}
        <h3>New Metrics</h3>
        <table class="metrics-table">
          <tr>
            <td class="metric">Model</td>
            <td class="metric-result">{{ new_metrics.Model[0] }}</td>
          </tr>
          <tr>
            <td class="metric">MSE</td>
            <td class="metric-result">{{ new_metrics.MSE[0] }}</td>
          </tr>
          <tr>
            <td class="metric">RMSE</td>
            <td class="metric-result">{{ new_metrics.RMSE[0] }}</td>
          </tr>
          <tr>
            <td class="metric">MAPE</td>
            <td class="metric-result">{{ new_metrics.MAPE[0] }}</td>
          </tr>
        </table>

        <form
          class="form"
          id="saveModel"
          action="/api/v1/save_model"
          method="post"
        >
          <p>Do you want to keep the new model?</p>
          <div>
            <input type="checkbox" name="save_new_model" value="yes" />
            <label for="save_new_model">Yes</label>
          </div>
          <div>
            <input type="checkbox" name="save_new_model" value="no" />
            <label for="save_new_model">No</label>
          </div>

          <div class="actions">
            <button class="formBtn" type="submit">Send</button>
          </div>
        </form>
        {% endif %}
      </section>
    </main>
  </body>
</html>
