<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../../static/cloud-rain.svg"
    />
    <link rel="stylesheet" href="../../../static/style.css" />
    <title>Rainfall Prediction App</title>
  </head>

  <body>
    <aside class="sideBar">
      <nav class="nav">
        <a href="/" class="menuItem">Home</a>
        <a href="/api/v1/predict_form" class="menuItem">Predict</a>
        <a href="/api/v1/forecast" class="menuItem">Forecast</a>
        <a href="/api/v1/update_data" class="menuItem" aria-current="page"
          >Update Data</a
        >
        <a href="/api/v1/retrain" class="menuItem">Retrain</a>
      </nav>
    </aside>
    <main class="main">
      <section class="mainContent">
        <h1>Rainfall Prediction Application</h1>
        <h2>Upload your own data</h2>
        <p>
          Enter a csv file with date, cloud_cover, sunshine, global_radiation,
          max_temp, mean_temp, min_temp, precipitation, pressure, snow_depth as
          columns.
        </p>
        <p>Maximum file size: 50 KB</p>
        <form
          class="form"
          id="updateData"
          action="/api/v1/update_data"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="newData">Upload file:</label>
          <input
            id="newData"
            name="newData"
            type="file"
            accept=".csv, text/csv"
            required
          />

          <div class="actions">
            <button class="formBtn" type="submit">Upload</button>
            <button class="formBtn" type="reset">Reset</button>
          </div>
        </form>
        {% if update_name %}
        <p class="update">{{ update_name | safe }} successfully uploaded!</p>
        {% endif %}
        {% if data_op %}
        <p>Select the dataset you would like to detele:</p>
        <p></p>
        <form
          class="form"
          id="deleteForm"
          action="/api/v1/delete_data"
          method="post"
        >
          {% for file in data_op %}
          <div>
            <input type="checkbox" name="dataset_name" value="{{file}}"/>
            <label for="dataset_name">{{file}}</label>
          </div>
          {% endfor %}
          <div class="actions">
            <button class="formBtn" type="submit">Delete</button>
          </div>
        </form>
        {% endif %}
        {% if delete_name %}
        <p>Deleted item: {{delete_name}}</p>
        {% endif %}
      </section>
    </main>
  </body>
</html>
